body {
    background-color: rgb(197, 190, 190)
}
.container {
    text-align : center;
    margin-top: 250px;
}

.container button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 68px;
    padding: 20px;
    width: 500px;
    cursor: pointer;
    margin: 5px;
}

.container button:hover {
    display: inline-block;
    background-color: #19dff1;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 68px;
    padding: 20px;
    width: 500px;
    cursor: pointer;
    margin: 5px;
}